.under-the-hood-child {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(236, 97, 42, 0.46) 10.42%,
    rgba(255, 255, 255, 0)
  );
  width: 1440px;
  height: 2467px;
}
.layer-1-icon2 {
  position: absolute;
  top: 413px;
  left: 324px;
  width: 792.48px;
  height: 217.19px;
  overflow: hidden;
  display: none;
}
.under-the-hood-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 1440px;
  height: 80px;
  display: none;
}
.help-push-science {
  position: absolute;
  top: calc(50% - 1054.5px);
  left: calc(50% - 432px);
  font-size: var(--font-size-77xl);
  line-height: 112.5%;
  display: inline-block;
  width: 864px;
}
.publish-to-earn-publish {
  position: absolute;
  top: calc(50% - 732.5px);
  left: calc(50% - 350px);
  font-size: var(--font-size-13xl);
  font-weight: 300;
  font-family: var(--font-poppins);
  display: inline-block;
  width: 700px;
}
.any-machine-learning {
  margin: 0;
}
.any-machine-learning-container {
  position: absolute;
  top: calc(50% - 500.5px);
  left: calc(50% - 268px);
  font-weight: 300;
  font-family: var(--font-poppins);
  display: inline-block;
  width: 536px;
}
.under-the-hood-inner {
  position: absolute;
  top: 17.5px;
  left: 68px;
  width: 1288.5px;
  height: 1005.5px;
}
.our-vision2 {
  position: absolute;
  top: 36px;
  left: 69px;
  font-weight: 300;
  cursor: pointer;
}
.under-the-hood3,
.what-inspires-us2 {
  position: absolute;
  top: 36px;
  left: 200px;
  font-weight: 500;
}
.what-inspires-us2 {
  left: 370px;
  font-weight: 300;
  cursor: pointer;
}
.s2 {
  letter-spacing: -0.13em;
}
.i2 {
  letter-spacing: -0.2em;
}
.tafal2 {
  letter-spacing: -0.1em;
}
.sitafal2 {
  position: absolute;
  height: 100%;
  width: 75.19%;
  top: 0;
  left: 24.81%;
  display: inline-block;
}
.subtract-icon2 {
  position: absolute;
  height: 78.95%;
  width: 21.05%;
  top: 5.26%;
  right: 78.95%;
  bottom: 15.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sitafal-container {
  position: absolute;
  top: 28px;
  left: 654px;
  width: 133px;
  height: 38px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.under-the-hood2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2467px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-mono);
}
