.landing-child {
  position: absolute;
  top: 1051px;
  left: -1px;
  background: linear-gradient(180deg, #fff 13.85%, #e6fe9e);
  width: 1550px;
  height: 858px;
}
.landing-item {
  position: absolute;
  bottom: 160.5px;
  left: calc(50% - 636px);
  width: 1550px;
  height: 933.5px;
}
.component-5-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 27px 27px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.try-now {
  position: absolute;
  top: 33.33%;
  left: 27.03%;
  font-weight: 300;
}
.component-5 {
  position: absolute;
  top: 0;
  right: 84px;
  width: 148px;
  height: 75px;
}
.unlocking-new-potential {
  position: relative;
  font-weight: 300;
  cursor: pointer;
}
.frame-wrapper,
.unlocking-new-potential-parent {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
}
.unlocking-new-potential-parent {
  width: 514px;
  height: 37px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 5px 7px;
  justify-content: flex-start;
  gap: 41px;
}
.frame-wrapper {
  position: absolute;
  top: 27px;
  left: 52px;
  width: 1316px;
  height: 41px;
  flex-direction: column;
  padding: 0 5px;
  justify-content: flex-end;
  font-size: 12px;
}
.component-5-parent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  width: 1440px;
  height: 80px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}
.landing-inner {
  position: absolute;
  top: 17.5px;
  left: 60.5px;
  width: 1296px;
  height: 1005.5px;
}
.s {
  letter-spacing: -0.13em;
}
.i {
  letter-spacing: -0.2em;
}
.tafal {
  letter-spacing: -0.1em;
}
.sitafal {
  position: absolute;
  height: 100%;
  width: 75.19%;
  top: 0;
  left: 24.81%;
  display: inline-block;
}
.subtract-icon {
  position: absolute;
  height: 78.95%;
  width: 21.05%;
  top: 5.26%;
  right: 78.95%;
  bottom: 15.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sitafal-parent {
  position: relative;
  width: 133px;
  height: 38px;
  flex-shrink: 0;
  cursor: pointer;
}
.unlocking-new-potential-group {
  width: 496px;
  height: 46px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 19px 17px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 41px;
  text-align: center;
  font-size: 12px;
}
.frame-child {
  position: relative;
  right: -30px;
  width: 200px;
  height: 39px;
  flex-shrink: 0;
  overflow: hidden;
}
.instance-parent,
.state-child {
  position: absolute;
  box-sizing: border-box;
}
.instance-parent {
  top: 2800px;
  left: 59px;
  width: 1335px;
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 14px 24px 0;
  align-items: center;
  justify-content: flex-start;
  gap: 228px;
}
.state-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #000;
}
.unlocking {
  margin: 0;
}
.unlocking-new-potential-container {
  position: absolute;
  height: 20%;
  width: 65.63%;
  top: 53%;
  left: 10.42%;
  line-height: 118%;
  font-weight: 300;
  display: inline-block;
}
.state-item {
  position: absolute;
  height: 9.14%;
  width: 4.76%;
  top: 69.7%;
  right: 30.49%;
  bottom: 21.16%;
  left: 64.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.state {
  position: relative;
  width: 384px;
  height: 200px;
  flex-shrink: 0;
}
.state-child:hover {
  background-color: #e6fe9e;
  cursor: pointer;
}
.state-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
}
.component-1-item {
  position: absolute;
  height: 9.14%;
  width: 4.76%;
  top: 69.7%;
  right: 49.24%;
  bottom: 21.16%;
  left: 46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-1-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
}

.component-2-item {
  position: absolute;
  height: 9.14%;
  width: 4.76%;
  top: 69.7%;
  right: 49.24%;
  bottom: 21.16%;
  left: 46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-2-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
}
.component-3-item {
  position: absolute;
  height: 9.14%;
  width: 4.76%;
  top: 69.7%;
  right: 42.21%;
  bottom: 21.16%;
  left: 53.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-3-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-left: -20px;
}
.frame-group {
  position: absolute;
  top: 400px;
  left: 72px;
  width: 1211px;
  height: 264px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 18px 16px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.sowing-the1 {
  line-height: 109.5%;
}
.agi {
  font-weight: 600;
  font-family: "IBM Plex Mono";
  background: conic-gradient(
    from -60.02deg at 50% 50%,
    #1f4c42 -41.88deg,
    #e6fe9e 147.22deg,
    #1f4c42 318.12deg,
    #e6fe9e 507.22deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sowing-the-seeds-container {
  position: relative;
}
.sowing-the-seeds-for-agi-wrapper {
  position: absolute;
  top: 187px;
  left: 193px;
  width: 970px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 101px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: 96px;
}
.frame-inner,
.frame-item,
.frame-parent {
  position: absolute;
  top: 78px;
  left: 482px;
  width: 344px;
  height: 109px;
  overflow: hidden;
}
.frame-inner,
.frame-parent {
  top: 22px;
  left: 52px;
  width: 1337px;
  height: 824px;
}
.frame-inner {
  height: 69.05%;
  width: 92.44%;
  top: 27.11%;
  right: 3.94%;
  bottom: 3.84%;
  left: 3.62%;
  border-radius: 50px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.chatgpt-has-taken {
  font-weight: 300;
}
.the-hindi-word {
  font-weight: 300;
  font-family: Poppins;
}
.chatgpt-has-taken-container {
  position: absolute;
  top: 26px;
  left: calc(50% - 420px);
  line-height: 160%;
  display: inline-block;
  width: 900px;
}
.group-icon {
  position: absolute;
  top: calc(50% + 22.5px);
  left: calc(50% - 93px);
  width: 182px;
  height: 182px;
}
.rectangle-parent {
  position: absolute;
  top: 876px;
  left: 106px;
  width: 1244px;
  height: 937px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
}
.image-1-icon {
  position: relative;
  width: 198px;
  height: 39px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.our-clients-parent {
  border-radius: 27px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 1151px;
  height: 133px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 51px 43px 43px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 98px;
}
.vector-icon {
  position: relative;
  width: 580.5px;
  height: 1px;
  flex-shrink: 0;
}
.contact-card-inner {
  position: absolute;
  top: 239.5px;
  left: 19.5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.vapecuppingwoke {
  color: #000;
}
.organic-hashtag-fam-container {
  position: relative;
  font-size: 14px;
  font-family: Poppins;
  display: inline-block;
  width: 218px;
  height: 64px;
  flex-shrink: 0;
  color: #9b9b9b;
}
.chat-to-us-parent {
  position: absolute;
  top: 145px;
  left: 43px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.p {
  margin: 0;
  color: #000;
}
.call-us-parent {
  position: absolute;
  top: 273px;
  left: 43px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.rectangle-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child1 {
  position: relative;
  width: auto;
  height: auto;
  flex-shrink: 0;
}
.vector-wrapper,
.your-email-wrapper,
.your-name-wrapper {
  position: absolute;
  height: 22.4%;
  width: 100%;
  top: 44.37%;
  right: 4.89%;
  bottom: 33.23%;
  left: 4.83%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}

.your-name-wrapper {
  height: 9.34%;
  width: 50%;
  top: 20%;
  right: 81.91%;
  bottom: 53.5%;
  left: 5%;
  flex-direction: row;
}
.your-email-wrapper {
  width: 100%;
  top: 35%;
  right: 36.43%;
  bottom: 54.35%;
  left: 5%;
}

.component-4-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 17px;
  border: 1px solid #4c2929;
  box-sizing: border-box;
  color: #307163;
  background-color: #15342e;
  cursor: pointer;
}
.component-4-child:hover {
  background-color: #4c2929;
}
.send {
  position: absolute;
  top: 31.67%;
  left: 37.33%;
  font-weight: 300;
  cursor: pointer;
}
.component-4 {
  position: relative;
  width: 150px;
  height: 60px;
  flex-shrink: 0;
}
.component-4-wrapper {
  position: absolute;
  height: 16.99%;
  width: 20.78%;
  top: 75.8%;
  right: 74.33%;
  bottom: 7.22%;
  left: 4.89%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
  font-family: "IBM Plex Mono";
}
.semiotics-shabby-chic {
  position: relative;
  font-size: 16px;
  font-family: Poppins;
  display: inline-block;
  width: 625px;
  height: 47px;
  flex-shrink: 0;
}
.lets-team-up-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}

.your-message-wrapper {
  display: flex;

  align-items: flex-start;
}
.frame-div {
  position: absolute;
  top: 51px;
  left: 35px;
  width: 733px;
  height: 114px;
  overflow: hidden;
  flex-direction: column;
  padding: 0 15px;
  justify-content: center;
  font-size: 40px;
  color: #fff;
  font-family: "IBM Plex Mono";
}
.your-message-wrapper {
  top: 100px;
  width: 2000px;
  height: 1000px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-start;
}
.frame-child2,
.frame-wrapper1 {
  position: absolute;
  left: 32px;
  overflow: hidden;
}
.frame-wrapper1 {
  top: 200px;
  width: 4000px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 35px 8px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}
.frame-child2 {
  top: 361px;
  width: 220px;
  height: 77px;
}
.vector-parent {
  position: absolute;
  top: 32px;
  left: 302px;
  width: 818px;
  height: 471px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.2);
  font-family: Poppins;
}
.contact-card-child,
.contact-card-item {
  position: absolute;
  top: 124px;
  left: 23px;
  width: 209px;
  height: 113px;
  overflow: hidden;
}
.contact-card-item {
  top: 270px;
  height: 104px;
}
.contact-card,
.frame-container {
  overflow: hidden;
  box-sizing: border-box;
}
.contact-card {
  position: relative;
  top: -40px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 1151px;
  height: 536px;
  flex-shrink: 0;
}
.frame-container {
  position: absolute;
  top: 1950px;
  left: 99px;
  width: 1234px;
  height: 822px;
  display: flex;
  flex-direction: column;
  padding: 35px 32px 10px 51px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 108px;
}
.landing {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: "IBM Plex Mono";
}
