.our-vision-child {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #e6fe9e 10.42%,
    rgba(255, 255, 255, 0)
  );
  width: 1440px;
  height: 1500px;
}
.component-5-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 27px 27px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.try-now5 {
  position: absolute;
  top: 33.33%;
  left: 27.03%;
  font-weight: 300;
}
.component-55 {
  position: absolute;
  top: 0;
  left: 1208px;
  width: 148px;
  height: 75px;
  font-size: 16px;
}
.layer-1-icon2 {
  position: absolute;
  top: 413px;
  left: 324px;
  width: 792.48px;
  height: 217.19px;
  overflow: hidden;
  display: none;
}
.our-vision-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #efefef;
  width: 1440px;
  height: 80px;
  display: none;
}
.unlock-new {
  margin: 0;
}
.unlock-new-paradigms-container {
  position: absolute;
  top: 150px;
  left: calc(50% - 374px);
  font-size: 96px;
  line-height: 112.5%;
  display: inline-block;
  width: 749px;
}
.train-10x-bigger {
  position: absolute;
  top: 620px;
  left: calc(50% - 350px);
  font-size: 32px;
  font-weight: 300;
  font-family: Poppins;
  display: inline-block;
  width: 700px;
}
.chatgpt-has-taken1,
.sitafal8 {
  font-weight: 300;
}
.sitafal8 {
  font-family: Poppins;
}
.say-goodbye-to {
  margin: 0;
  font-weight: 300;
}
.chatgpt-has-taken-container1 {
  position: absolute;
  top: 900px;
  left: calc(50% - 268px);
  font-size: 16px;
  line-height: 160%;
  display: inline-block;
  width: 536px;
  font-family: Poppins;
}
.s7 {
  letter-spacing: -0.13em;
}
.i7 {
  letter-spacing: -0.2em;
}
.tafal7 {
  letter-spacing: -0.1em;
}
.sitafal9 {
  position: absolute;
  height: 100%;
  width: 75.19%;
  top: 0;
  left: 24.81%;
  display: inline-block;
}
.subtract-icon7 {
  position: absolute;
  height: 78.95%;
  width: 21.05%;
  top: 5.26%;
  right: 78.95%;
  bottom: 15.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sitafal-parent4 {
  position: absolute;
  bottom: 60px;
  left: 86px;
  width: 133px;
  height: 38px;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
}
.our-vision-inner {
  position: absolute;
  bottom: 168.5px;
  left: calc(50% - 635px);
  width: 1270.5px;
  height: 1021.5px;
}
.under-the-hood8,
.unlocking-new-potential7,
.what-excites-us8 {
  position: absolute;
  top: 36px;
  left: 64px;
  font-weight: 500;
  cursor: pointer;
}
.under-the-hood8,
.what-excites-us8 {
  left: 271px;
  font-weight: 300;
}
.what-excites-us8 {
  left: 413px;
}
.sitafal-parent5 {
  position: absolute;
  top: 28px;
  left: 654px;
  width: 133px;
  height: 38px;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
}
.under-the-hood9,
.unlocking-new-potential8 {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.under-the-hood9 {
  font-weight: 300;
}
.unlocking-new-potential-parent4 {
  position: absolute;
  top: 1410px;
  left: 492px;
  width: 457px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 41px;
}
.component-56 {
  position: absolute;
  top: 0;
  right: 84px;
  width: 148px;
  height: 75px;
  font-size: 16px;
}
.sitafal-parent6 {
  position: absolute;
  top: 25px;
  left: calc(50% - 67px);
  width: 133px;
  height: 38px;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
}
.unlocking-new-potential-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  width: 1440px;
  height: 80px;
  overflow: hidden;
}
.our-vision-child1 {
  position: absolute;
  top: 17.5px;
  left: 60.5px;
  width: 1296px;
  height: 1005.5px;
}
.our-vision-child2 {
  position: absolute;
  right: 84px;
  bottom: 67px;
  width: 174px;
  height: 24px;
}
.our-vision {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1500px;
  text-align: center;
  font-size: 12px;
  color: #000;
  font-family: "IBM Plex Mono";
}
