.menu-button1 {
  position: relative;
  font-weight: 300;
}
.menu-button,
.menu-button2,
.menu-button4 {
  align-self: stretch;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 15px 12px;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.menu-button2,
.menu-button4 {
  z-index: 1;
}
.menu-button4 {
  border-radius: 0 0 27px 27px;
  z-index: 2;
}
.hamburger-icon1 {
  position: absolute;
  margin: 0 !important;
  top: -50px;
  right: 11px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  z-index: 3;
}
.menu {
  position: relative;
  border-radius: 0 0 27px 27px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);
  width: 393px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-family: "IBM Plex Mono";
}
