.component-7-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 13px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  background-color: #132f29;
  color: #fff;
  cursor: pointer;
}
.component-7-child :hover {
  background-color: #1f4c42;
}
.send {
  position: absolute;
  top: 38.1%;
  left: 43.75%;
  line-height: 109.5%;
  font-weight: 300;
}
.component-7 {
  position: absolute;
  top: 740px;
  left: 32px;
  width: 288px;
  height: 63px;
}
input[type="checkbox"] {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #1f4c42;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.component-8 {
  position: absolute;
  top: 682px;
  left: 32px;
  width: 34px;
  height: 34px;
}
.subscribe-for-updates {
  position: absolute;
  top: 692px;
  left: 74px;
  font-size: 12px;
  line-height: 109.5%;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
.component-7-parent {
  position: absolute;
  top: 1734px;
  left: 20px;
  border-radius: 27px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 354px;
  height: 840px;
  overflow: hidden;
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-family: "IBM Plex Mono";
}
